SerpientesYEscaleras/SerpientesYEscaleras/Connected Services/ServiceSYE/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IJugador_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IPartida_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IChat_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSYE" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DataAccess" />
      <xsd:import schemaLocation="http://localhost:8081/?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IJugador_RegistrarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_RegistrarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_IniciarSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesion" />
  </wsdl:message>
  <wsdl:message name="IJugador_IniciarSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:IniciarSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_UnirseAlJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseAlJuego" />
  </wsdl:message>
  <wsdl:message name="IJugador_UnirseAlJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnirseAlJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_SalirDelJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirDelJuego" />
  </wsdl:message>
  <wsdl:message name="IJugador_SalirDelJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalirDelJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ValidarConectado_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarConectado" />
  </wsdl:message>
  <wsdl:message name="IJugador_ValidarConectado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarConectadoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadoresPuntos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresPuntos" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadoresPuntos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresPuntosResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadoresVictorias_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresVictorias" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadoresVictorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadoresVictoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_EnviarCodigoACorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoACorreo" />
  </wsdl:message>
  <wsdl:message name="IJugador_EnviarCodigoACorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoACorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadorPorCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorPorCodigo" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadorPorCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorPorCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadorPorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorPorNombre" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadorPorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadorPorCorreo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorPorCorreo" />
  </wsdl:message>
  <wsdl:message name="IJugador_ObtenerJugadorPorCorreo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerJugadorPorCorreoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ValidarCuentaJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCuentaJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_ValidarCuentaJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCuentaJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ValidarCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigo" />
  </wsdl:message>
  <wsdl:message name="IJugador_ValidarCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ModificarCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCodigo" />
  </wsdl:message>
  <wsdl:message name="IJugador_ModificarCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_ModificarEstadisticas_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEstadisticas" />
  </wsdl:message>
  <wsdl:message name="IJugador_ModificarEstadisticas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarEstadisticasResponse" />
  </wsdl:message>
  <wsdl:message name="IJugador_CrearJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearJugador" />
  </wsdl:message>
  <wsdl:message name="IJugador_CrearJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_CrearPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearPartida" />
  </wsdl:message>
  <wsdl:message name="IPartida_CrearPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_ObtenerPartidas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPartidas" />
  </wsdl:message>
  <wsdl:message name="IPartida_ObtenerPartidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPartidasResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_ValidarNombrePartida_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombrePartida" />
  </wsdl:message>
  <wsdl:message name="IPartida_ValidarNombrePartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombrePartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_VerPartidas_InputMessage">
    <wsdl:part name="parameters" element="tns:VerPartidas" />
  </wsdl:message>
  <wsdl:message name="IPartida_VerPartidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerPartidasResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_SalirVerPartidas_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirVerPartidas" />
  </wsdl:message>
  <wsdl:message name="IPartida_SalirVerPartidas_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalirVerPartidasResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_UnirsePartida_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirsePartida" />
  </wsdl:message>
  <wsdl:message name="IPartida_UnirsePartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnirsePartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_SalirPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirPartida" />
  </wsdl:message>
  <wsdl:message name="IPartida_SalirPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalirPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_SalirPartidaEnJuego_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirPartidaEnJuego" />
  </wsdl:message>
  <wsdl:message name="IPartida_SalirPartidaEnJuego_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalirPartidaEnJuegoResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_ObtenerPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPartida" />
  </wsdl:message>
  <wsdl:message name="IPartida_ObtenerPartida_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPartidaResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_CambiarTurno_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarTurno" />
  </wsdl:message>
  <wsdl:message name="IPartida_CambiarTurno_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarTurnoResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_MovimientoEspecial_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoEspecial" />
  </wsdl:message>
  <wsdl:message name="IPartida_MovimientoEspecial_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimientoEspecialResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_CambiarPosicionBonus_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPosicionBonus" />
  </wsdl:message>
  <wsdl:message name="IPartida_CambiarPosicionBonus_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarPosicionBonusResponse" />
  </wsdl:message>
  <wsdl:message name="IPartida_ActualizarPartidas_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPartidas" />
  </wsdl:message>
  <wsdl:message name="IPartida_Tirar_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Tirar" />
  </wsdl:message>
  <wsdl:message name="IChat_UnirseChat_InputMessage">
    <wsdl:part name="parameters" element="tns:UnirseChat" />
  </wsdl:message>
  <wsdl:message name="IChat_EnviarMensaje_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensaje" />
  </wsdl:message>
  <wsdl:message name="IChat_EnviarMensajePartida_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarMensajePartida" />
  </wsdl:message>
  <wsdl:message name="IChat_SalirChat_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirChat" />
  </wsdl:message>
  <wsdl:message name="IChat_SalirChatPartida_InputMessage">
    <wsdl:part name="parameters" element="tns:SalirChatPartida" />
  </wsdl:message>
  <wsdl:message name="IChat_RecibeMensaje_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibeMensaje" />
  </wsdl:message>
  <wsdl:message name="IChat_RecibeMensajePartida_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibeMensajePartida" />
  </wsdl:message>
  <wsdl:portType name="IJugador">
    <wsdl:operation name="RegistrarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/RegistrarJugador" message="tns:IJugador_RegistrarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/RegistrarJugadorResponse" message="tns:IJugador_RegistrarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/IniciarSesion" message="tns:IJugador_IniciarSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/IniciarSesionResponse" message="tns:IJugador_IniciarSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirseAlJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/UnirseAlJuego" message="tns:IJugador_UnirseAlJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/UnirseAlJuegoResponse" message="tns:IJugador_UnirseAlJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirDelJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/SalirDelJuego" message="tns:IJugador_SalirDelJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/SalirDelJuegoResponse" message="tns:IJugador_SalirDelJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarConectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ValidarConectado" message="tns:IJugador_ValidarConectado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ValidarConectadoResponse" message="tns:IJugador_ValidarConectado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadoresPuntos">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadoresPuntos" message="tns:IJugador_ObtenerJugadoresPuntos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadoresPuntosResponse" message="tns:IJugador_ObtenerJugadoresPuntos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadoresVictorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadoresVictorias" message="tns:IJugador_ObtenerJugadoresVictorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadoresVictoriasResponse" message="tns:IJugador_ObtenerJugadoresVictorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoACorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/EnviarCodigoACorreo" message="tns:IJugador_EnviarCodigoACorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/EnviarCodigoACorreoResponse" message="tns:IJugador_EnviarCodigoACorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadorPorCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorPorCodigo" message="tns:IJugador_ObtenerJugadorPorCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorPorCodigoResponse" message="tns:IJugador_ObtenerJugadorPorCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadorPorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorPorNombre" message="tns:IJugador_ObtenerJugadorPorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorPorNombreResponse" message="tns:IJugador_ObtenerJugadorPorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadorPorCorreo">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorPorCorreo" message="tns:IJugador_ObtenerJugadorPorCorreo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ObtenerJugadorPorCorreoResponse" message="tns:IJugador_ObtenerJugadorPorCorreo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCuentaJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ValidarCuentaJugador" message="tns:IJugador_ValidarCuentaJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ValidarCuentaJugadorResponse" message="tns:IJugador_ValidarCuentaJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ValidarCodigo" message="tns:IJugador_ValidarCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ValidarCodigoResponse" message="tns:IJugador_ValidarCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ModificarCodigo" message="tns:IJugador_ModificarCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ModificarCodigoResponse" message="tns:IJugador_ModificarCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEstadisticas">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/ModificarEstadisticas" message="tns:IJugador_ModificarEstadisticas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/ModificarEstadisticasResponse" message="tns:IJugador_ModificarEstadisticas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IJugador/CrearJugador" message="tns:IJugador_CrearJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IJugador/CrearJugadorResponse" message="tns:IJugador_CrearJugador_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPartida">
    <wsdl:operation name="CrearPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/CrearPartida" message="tns:IPartida_CrearPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/CrearPartidaResponse" message="tns:IPartida_CrearPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/ObtenerPartidas" message="tns:IPartida_ObtenerPartidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/ObtenerPartidasResponse" message="tns:IPartida_ObtenerPartidas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarNombrePartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/ValidarNombrePartida" message="tns:IPartida_ValidarNombrePartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/ValidarNombrePartidaResponse" message="tns:IPartida_ValidarNombrePartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerPartidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/VerPartidas" message="tns:IPartida_VerPartidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/VerPartidasResponse" message="tns:IPartida_VerPartidas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirVerPartidas">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/SalirVerPartidas" message="tns:IPartida_SalirVerPartidas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/SalirVerPartidasResponse" message="tns:IPartida_SalirVerPartidas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnirsePartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/UnirsePartida" message="tns:IPartida_UnirsePartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/UnirsePartidaResponse" message="tns:IPartida_UnirsePartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/SalirPartida" message="tns:IPartida_SalirPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/SalirPartidaResponse" message="tns:IPartida_SalirPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirPartidaEnJuego">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/SalirPartidaEnJuego" message="tns:IPartida_SalirPartidaEnJuego_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/SalirPartidaEnJuegoResponse" message="tns:IPartida_SalirPartidaEnJuego_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/ObtenerPartida" message="tns:IPartida_ObtenerPartida_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/ObtenerPartidaResponse" message="tns:IPartida_ObtenerPartida_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarTurno">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/CambiarTurno" message="tns:IPartida_CambiarTurno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/CambiarTurnoResponse" message="tns:IPartida_CambiarTurno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimientoEspecial">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/MovimientoEspecial" message="tns:IPartida_MovimientoEspecial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/MovimientoEspecialResponse" message="tns:IPartida_MovimientoEspecial_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarPosicionBonus">
      <wsdl:input wsaw:Action="http://tempuri.org/IPartida/CambiarPosicionBonus" message="tns:IPartida_CambiarPosicionBonus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/CambiarPosicionBonusResponse" message="tns:IPartida_CambiarPosicionBonus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPartidas">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/ActualizarPartidas" message="tns:IPartida_ActualizarPartidas_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tirar">
      <wsdl:output wsaw:Action="http://tempuri.org/IPartida/Tirar" message="tns:IPartida_Tirar_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IChat">
    <wsdl:operation name="UnirseChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/UnirseChat" message="tns:IChat_UnirseChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/EnviarMensaje" message="tns:IChat_EnviarMensaje_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajePartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/EnviarMensajePartida" message="tns:IChat_EnviarMensajePartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/SalirChat" message="tns:IChat_SalirChat_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SalirChatPartida">
      <wsdl:input wsaw:Action="http://tempuri.org/IChat/SalirChatPartida" message="tns:IChat_SalirChatPartida_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibeMensaje">
      <wsdl:output wsaw:Action="http://tempuri.org/IChat/RecibeMensaje" message="tns:IChat_RecibeMensaje_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibeMensajePartida">
      <wsdl:output wsaw:Action="http://tempuri.org/IChat/RecibeMensajePartida" message="tns:IChat_RecibeMensajePartida_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IJugador" type="tns:IJugador">
    <wsp:PolicyReference URI="#NetTcpBinding_IJugador_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegistrarJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/RegistrarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IniciarSesion">
      <soap12:operation soapAction="http://tempuri.org/IJugador/IniciarSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirseAlJuego">
      <soap12:operation soapAction="http://tempuri.org/IJugador/UnirseAlJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalirDelJuego">
      <soap12:operation soapAction="http://tempuri.org/IJugador/SalirDelJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarConectado">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ValidarConectado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadoresPuntos">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ObtenerJugadoresPuntos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadoresVictorias">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ObtenerJugadoresVictorias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoACorreo">
      <soap12:operation soapAction="http://tempuri.org/IJugador/EnviarCodigoACorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadorPorCodigo">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ObtenerJugadorPorCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadorPorNombre">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ObtenerJugadorPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerJugadorPorCorreo">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ObtenerJugadorPorCorreo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCuentaJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ValidarCuentaJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCodigo">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ValidarCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCodigo">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ModificarCodigo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEstadisticas">
      <soap12:operation soapAction="http://tempuri.org/IJugador/ModificarEstadisticas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearJugador">
      <soap12:operation soapAction="http://tempuri.org/IJugador/CrearJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IPartida" type="tns:IPartida">
    <wsp:PolicyReference URI="#NetTcpBinding_IPartida_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CrearPartida">
      <soap12:operation soapAction="http://tempuri.org/IPartida/CrearPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartidas">
      <soap12:operation soapAction="http://tempuri.org/IPartida/ObtenerPartidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarNombrePartida">
      <soap12:operation soapAction="http://tempuri.org/IPartida/ValidarNombrePartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerPartidas">
      <soap12:operation soapAction="http://tempuri.org/IPartida/VerPartidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalirVerPartidas">
      <soap12:operation soapAction="http://tempuri.org/IPartida/SalirVerPartidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnirsePartida">
      <soap12:operation soapAction="http://tempuri.org/IPartida/UnirsePartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalirPartida">
      <soap12:operation soapAction="http://tempuri.org/IPartida/SalirPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SalirPartidaEnJuego">
      <soap12:operation soapAction="http://tempuri.org/IPartida/SalirPartidaEnJuego" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPartida">
      <soap12:operation soapAction="http://tempuri.org/IPartida/ObtenerPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarTurno">
      <soap12:operation soapAction="http://tempuri.org/IPartida/CambiarTurno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimientoEspecial">
      <soap12:operation soapAction="http://tempuri.org/IPartida/MovimientoEspecial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarPosicionBonus">
      <soap12:operation soapAction="http://tempuri.org/IPartida/CambiarPosicionBonus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPartidas">
      <soap12:operation soapAction="http://tempuri.org/IPartida/ActualizarPartidas" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tirar">
      <soap12:operation soapAction="http://tempuri.org/IPartida/Tirar" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IChat" type="tns:IChat">
    <wsp:PolicyReference URI="#NetTcpBinding_IChat_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="UnirseChat">
      <soap12:operation soapAction="http://tempuri.org/IChat/UnirseChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensaje">
      <soap12:operation soapAction="http://tempuri.org/IChat/EnviarMensaje" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EnviarMensajePartida">
      <soap12:operation soapAction="http://tempuri.org/IChat/EnviarMensajePartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirChat">
      <soap12:operation soapAction="http://tempuri.org/IChat/SalirChat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SalirChatPartida">
      <soap12:operation soapAction="http://tempuri.org/IChat/SalirChatPartida" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecibeMensaje">
      <soap12:operation soapAction="http://tempuri.org/IChat/RecibeMensaje" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibeMensajePartida">
      <soap12:operation soapAction="http://tempuri.org/IChat/RecibeMensajePartida" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IJugador" binding="tns:NetTcpBinding_IJugador">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IPartida" binding="tns:NetTcpBinding_IPartida">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IChat" binding="tns:NetTcpBinding_IChat">
      <soap12:address location="net.tcp://localhost:8091/CalculatorService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8091/CalculatorService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>