SerpientesYEscaleras/SerpientesYEscalerasTests/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceSYE" />
  <xs:complexType name="ArrayOfKeyValueOfanyTypestring">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfanyTypestring">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:anyType" />
            <xs:element name="Value" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfanyTypestring" nillable="true" type="tns:ArrayOfKeyValueOfanyTypestring" />
  <xs:complexType name="ArrayOfKeyValueOfanyTypeJugadoroM4bvCgA">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfanyTypeJugadoroM4bvCgA">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:anyType" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceSYE" name="Value" nillable="true" type="q1:Jugador" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfanyTypeJugadoroM4bvCgA" nillable="true" type="tns:ArrayOfKeyValueOfanyTypeJugadoroM4bvCgA" />
</xs:schema>